.modal-button {
    border: none;
    background-color: #23306B;
    border-radius: 8px;
    color: #fff;
    padding: 7px 10px;
    max-height: 40px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: initial;
}

modal-button:hover {
    box-shadow: initial;
}